<header class="site-header">

  <div class="wrapper">

    <header class="site-title">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
      <img src="{{ site.baseurl }}/images/chaika.png" style="width:50px;height:50px;padding:3px 13px 0;">
    </header>

    <nav class="site-nav">
      {% unless site.pages == empty %}
        <div class="trigger">
          {% assign paginate_path = site.paginate_path | prepend: site.baseurl | replace: ':num', '' | replace: '//', '/' %}
          {% assign pages = site.pages | sort: "menu_position" %}
          {% for page in pages %}
            {% if page.menu_title %}
              {% assign page_path = page.url | prepend: site.baseurl | replace: '/index.html', '/' %}
              {% unless page_path contains paginate_path and page_path != paginate_path %}
                <a class="page-link" href="{{ page.url | prepend: site.baseurl | replace: '/index.html', '/' }}"><span class="fa fa-fw fa-terminal"></span>{{ page.menu_title }}</a>
              {% endunless %}
            {% endif %}
          {% endfor %}
        </div>
      {% endunless %}
    </nav>

  </div>

</header>
