
html.turbolinks-progress-bar::before {
  background-color: white !important;
  height: 4px !important;
  opacity: 0.4 !important;
}

.fa {
  color: $grey-color-medium;
}

.addendum {
    color: $grey-color-medium;
}
