.fa-itchio {
	background: url(/img/itchio.svg) no-repeat center;
	background-size: 80%;
	height: 14px;
	position: relative;
	overflow: visible;
	color: inherit;
	filter: grayscale(100%);
	opacity: 0.8;
}
