---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <span>
      <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.meta %} &middot; {{ page.meta }}{% endif %}</span>
      {% unless page.categories == empty %}
        <span class="post-meta">
          <span class="fa fa-fw fa-tags"></span>
          {% for category in page.categories %}
            <a class="category-link" href="{{ "/articles/categories/" | prepend: site.baseurl }}#{{ category }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
          {% endfor %}
        </span>
      {% endunless %}
    </span>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="post-backlink"><a href="{{ "/articles/" | prepend: site.baseurl }}"><span class="fa fa-fw fa-long-arrow-left"></span> View more articles</a></div>

</div>
