---
layout: default
---

  <div id="post">

	{% if page.image.feature %}
		<div class="post-image-feature">
			<img class="feature-image" src=
			{% if page.image.feature contains 'https' or page.image.feature contains 'http' %}
			"{{ page.image.feature }}"
			{% else %}
			"{{ site.baseurl }}/img/{{ page.image.feature }}"
			{% endif %}
			alt="{{ page.title }} feature image">

			{% if page.image.credit %}
			<span class="image-credit">Image Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
			{% endif %}
		</div><!-- /.image-wrap -->
	{% endif %}

    <header class="post-header">
	  <h2>{{ page.title }}</h2>
	  <span class="post-meta">
			<span class="post-launched">
				Launched: {{ page.launched }}
			</span>
			&bullet;
			<span class="post-website">
				<a href="{{ page.website.url }}">{{ page.website.name }}</a>
			</span>
		</span>
	</header>


    <article class="post-content">
      {{ content }}
    </article>


  </div><!-- end page content -->

