@font-face {
	font-family: 'Fira Code';
	src: url('/fonts/FiraCode-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Code';
	src: url('/fonts/FiraCode-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Code Retina';
	src: url('/fonts/FiraCode-Retina.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Code';
	src: url('/fonts/FiraCode-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Code';
	src: url('/fonts/FiraCode-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
