---
layout: page
title: Articles

menu_position: 2
menu_title: Articles

---

<ul class="post-list">
  {% for post in paginator.posts %}
    <li class="post" id="{{ post.id }}">
      <span>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        {% unless post.categories == empty %}
          <span class="post-meta">
            <span class="fa fa-fw fa-tags"></span>
            {% for category in post.categories %}
              <a class="category-link" href="{{ "/articles/categories/" | prepend: site.baseurl }}#{{ category }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
            </span>
        {% endunless %}
      </span>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <div class="post-content">
        <p id="post-preview-{{ post.id }}">
          {% if post.synopsis %}
            {{ post.synopsis | strip_html }}
          {% else %}
            {{ post.excerpt | strip_html }}
          {% endif %}
          <span>
            <a id="post-show-{{ post.id }}" class="post-more" href="{{ post.url | prepend: site.baseurl }}">Read more...</a>
          </span>
        </p>
        <div id="post-full-{{ post.id }}" style="display:none;">
          {{ post.content }}
          <span>
            <a id="post-hide-{{ post.id }}" class="post-more" href="#{{ post.id }}">Read less...</a>
          </span>
        </div>
        <script>
          document.getElementById("post-show-{{ post.id }}").setAttribute("href", "#{{ post.id }}");
          document.getElementById("post-show-{{ post.id }}").onclick = function(e) {
            e.preventDefault();
            document.getElementById("post-preview-{{ post.id }}").style.display = "none";
            document.getElementById("post-full-{{ post.id }}").style.display = "block";
            history.pushState(null,null,this.hash);
          }
          document.getElementById("post-hide-{{ post.id }}").onclick = function(e) {
            e.preventDefault();
            document.getElementById("post-full-{{ post.id }}").style.display = "none";
            document.getElementById("post-preview-{{ post.id }}").style.display = "block";
            document.getElementById("{{ post.id }}").scrollIntoView();
          }
        </script>
      </div>
    </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a class="paginate-prev" href="{{ site.paginate_path | replace: ':num', '' | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <a class="paginate-prev" href="{{ site.paginate_path | replace: ':num', paginator.previous_page | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% endif %}
  {% else %}
    <span class="paginate-prev paginate-prev-disabled">&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="paginate-current">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: ':num', '' | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: ':num', page | replace: '//', '/' }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="paginate-next" href="{{ site.paginate_path | replace: ':num', paginator.next_page | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span class="paginate-next paginate-next-disabled" >Next &raquo;</span>
  {% endif %}
</div>

{% endif %}

<hr>

<div class="site-meta">
  {% if paginator.total_pages > 1 %}
    <a href="{{ "/articles/archive/" | prepend: site.baseurl }}">View all Articles</a> &middot; 
  {% endif %}

  <a class="rss-subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}">Subscribe via RSS</a>
</div>
