---
layout: page
title: Articles

menu_position: 2
menu_title: Articles

---

<ul class="post-list">
  {% for post in paginator.posts %}
    <li id="{{ post.id }}">
      <span>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        {% unless post.categories == empty %}
          <span class="post-meta">
            <span class="fa fa-fw fa-tags"></span>
            {% for category in post.categories %}
              <a class="category-link" href="{{ "/articles/categories/" | prepend: site.baseurl }}#{{ category }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
            </span>
        {% endunless %}
      </span>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <div class="post-content">
        <p id="post-preview-{{ post.id }}">
          {% if post.synopsis %}
            {{ post.synopsis | strip_html }}
          {% else %}
            {{ post.excerpt | strip_html }}
          {% endif %}
        </p>
        <div id="post-full-{{ post.id }}" style="display:none;">
          {{ post.content }}
        </div>
        <script>
          (function() { 
            var preview = document.getElementById("post-preview-{{ post.id }}");
            var full = document.getElementById("post-full-{{ post.id }}");
            var showpost = function(e) {
              e.preventDefault();
              preview.style.display = "none";
              full.style.display = "block";
              history.pushState(null,null,this.hash);
            };
            var hidepost = function(e) {
              full.style.display = "none";
              preview.style.display = "block";
            };
            var p_span = document.createElement("span");
            var p_a = document.createElement("a");
            var f_span = document.createElement("span");
            var f_a = document.createElement("a");
            p_a.innerHTML = "Read more...";
            p_a.setAttribute("class", "post-more");
            p_a.setAttribute("href", "#{{ post.id }}");
            p_a.onclick = showpost;
            f_a.innerHTML = "Read less...";
            f_a.setAttribute("class", "post-more");
            f_a.setAttribute("href", "#{{ post.id }}");
            f_a.onclick = hidepost;
            p_span.appendChild(p_a);
            preview.appendChild(p_span);
            f_span.appendChild(f_a);
            full.appendChild(f_span);
          })();
        </script>
      </div>
    </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a class="paginate-prev" href="{{ site.paginate_path | replace: ':num', '' | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <a class="paginate-prev" href="{{ site.paginate_path | replace: ':num', paginator.previous_page | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% endif %}
  {% else %}
    <span class="paginate-prev paginate-prev-disabled">&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="paginate-current">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: ':num', '' | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: ':num', page | replace: '//', '/' }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="paginate-next" href="{{ site.paginate_path | replace: ':num', paginator.next_page | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span class="paginate-next paginate-next-disabled" >Next &raquo;</span>
  {% endif %}
</div>

{% endif %}

<hr>

<div>
  {% if paginator.total_pages > 1 %}
    <a href="{{ "/articles/archive/" | prepend: site.baseurl }}">View all Articles</a> &middot; 
  {% endif %}

  <a class="rss-subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}">Subscribe via RSS</a>
</div>
